DATABASE_URL="postgresql://user:password@localhost:5432/iwishbag?schema=public"
MEILISEARCH_URL="http://127.0.0.1:7700"
MEILISEARCH_KEY=""
BETTERSTACK_LOGS_TOKEN=""
BETTERSTACK_LOGS_ENDPOINT="https://in.logs.betterstack.com"
