# PostHog (client-side)
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
NEXT_PUBLIC_POSTHOG_KEY=phc_leTubckNTo9S8sc22WHoR2tCrNjLErit7FOR6ZY34Fy

# Better Stack – set via CI or `pnpm dev` env (placeholder)
NEXT_PUBLIC_STATUS_PAGE_URL=https://status.iwishbag.store
